*{
    box-sizing: border-box;
}

.profile-div-button{
    max-width: 100px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-style: none;
    background-color: transparent;
}

.profile-div-button-span{
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align:middle;
}

.profile-div-button-span-img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.container-fluid{
    height: 100vh;
    overflow-y: hidden;
}

.jb-nav{
    background-color: antiquewhite;
    flex : 0 0 auto;
}

.jb-body{
    flex : 1 1 auto;
    width: 100%;
    background-color: blue;
    overflow-y: hidden;
}

.jb-menu{
    background-color: bisque;
    height: 100%;
}

.jb-section{
    height: 100%;
    overflow-y: scroll;
}

